<div class="full-page">
    <div class="content">
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5 class=" card-category">Usuarios</h5>
                  <h3 class="card-title d-flex justify-content-between align-items-center">
                    <span>Lista de usuarios</span> 
                  </h3>
                </div>
                <div class="card-body">
                  <div class="table-responsive" #table>
                    <table class="table">
                      <thead class="text-primary">
                        <tr>
                          <th>Email</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Documento de identidad</th>
                          <th>Nro Telefono</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users">
                          <td>{{user.email}}</td>
                          <td>{{user.first_name}}</td>
                          <td>{{user.last_name}}</td>
                          <td>{{user.n_document}}</td>
                          <td>{{user.phone_number}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
